Repository FastyFresh/firebot-8wh4kt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @core-team, @backend-team, @ml-team, @data-science-team, @frontend-team, @devops-team, @security-team, @trading-team, @rust-reviewers, @python-reviewers, @typescript-reviewers, @infrastructure-team, @qa-team, @smart-contract-team

Add public-samples/firebot-8wh4kt/src/backend/src/db/mod.rs
  src/backend/src/db/mod.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/db/models.rs
  src/backend/src/db/models.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/db/repositories.rs
  src/backend/src/db/repositories.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/db/migrations/V1__initial_schema.sql
  src/backend/src/db/migrations/V1__initial_schema.sql
Owners: @backend-team

Add public-samples/firebot-8wh4kt/src/backend/src/db/migrations/V2__market_data_tables.sql
  src/backend/src/db/migrations/V2__market_data_tables.sql
Owners: @backend-team

Add public-samples/firebot-8wh4kt/src/backend/src/db/migrations/V3__strategy_tables.sql
  src/backend/src/db/migrations/V3__strategy_tables.sql
Owners: @backend-team

Add public-samples/firebot-8wh4kt/src/backend/src/execution_engine/error.rs
  src/backend/src/execution_engine/error.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/execution_engine/jito.rs
  src/backend/src/execution_engine/jito.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/execution_engine/mod.rs
  src/backend/src/execution_engine/mod.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/execution_engine/order_book.rs
  src/backend/src/execution_engine/order_book.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/execution_engine/position.rs
  src/backend/src/execution_engine/position.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/execution_engine/trade.rs
  src/backend/src/execution_engine/trade.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/models/market.rs
  src/backend/src/models/market.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/models/mod.rs
  src/backend/src/models/mod.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/models/order.rs
  src/backend/src/models/order.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/models/portfolio.rs
  src/backend/src/models/portfolio.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/models/strategy.rs
  src/backend/src/models/strategy.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/models/trade.rs
  src/backend/src/models/trade.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/risk_manager/limits.rs
  src/backend/src/risk_manager/limits.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/risk_manager/mod.rs
  src/backend/src/risk_manager/mod.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/risk_manager/portfolio.rs
  src/backend/src/risk_manager/portfolio.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/risk_manager/validation.rs
  src/backend/src/risk_manager/validation.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/strategy_engine/__init__.py
  src/backend/src/strategy_engine/__init__.py
Owners: @python-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/strategy_engine/base.py
  src/backend/src/strategy_engine/base.py
Owners: @python-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/strategy_engine/arbitrage/__init__.py
  src/backend/src/strategy_engine/arbitrage/__init__.py
Owners: @python-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/strategy_engine/arbitrage/detector.py
  src/backend/src/strategy_engine/arbitrage/detector.py
Owners: @python-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/strategy_engine/arbitrage/executor.py
  src/backend/src/strategy_engine/arbitrage/executor.py
Owners: @python-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/strategy_engine/grid/__init__.py
  src/backend/src/strategy_engine/grid/__init__.py
Owners: @python-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/strategy_engine/grid/calculator.py
  src/backend/src/strategy_engine/grid/calculator.py
Owners: @python-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/strategy_engine/grid/manager.py
  src/backend/src/strategy_engine/grid/manager.py
Owners: @python-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/strategy_engine/ml/__init__.py
  src/backend/src/strategy_engine/ml/__init__.py
Owners: @python-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/strategy_engine/ml/models.py
  src/backend/src/strategy_engine/ml/models.py
Owners: @python-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/strategy_engine/ml/optimizer.py
  src/backend/src/strategy_engine/ml/optimizer.py
Owners: @python-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/strategy_engine/ml/predictor.py
  src/backend/src/strategy_engine/ml/predictor.py
Owners: @python-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/strategy_engine/ml/trainer.py
  src/backend/src/strategy_engine/ml/trainer.py
Owners: @python-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/strategy_engine/risk/__init__.py
  src/backend/src/strategy_engine/risk/__init__.py
Owners: @python-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/strategy_engine/risk/calculator.py
  src/backend/src/strategy_engine/risk/calculator.py
Owners: @python-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/strategy_engine/risk/manager.py
  src/backend/src/strategy_engine/risk/manager.py
Owners: @python-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/utils/crypto.rs
  src/backend/src/utils/crypto.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/utils/logger.rs
  src/backend/src/utils/logger.rs
Owners: @rust-reviewers

.github/CODEOWNERS:

# Unless a later match takes precedence, the core team
# will be requested for review when someone opens a PR
* @core-team

# Backend Rust/Python code ownership
/src/backend/ @backend-team

# Strategy engine requires ML, backend and data science review
/src/backend/src/strategy_engine/ @ml-team @backend-team @data-science-team

# Frontend React/TypeScript code ownership
/src/web/ @frontend-team

# Infrastructure code requires both DevOps and security review
/infrastructure/ @devops-team @security-team

# Execution engine requires backend, trading and security review
/src/backend/src/execution_engine/ @backend-team @trading-team @security-team

# Risk management requires trading, backend and security review
/src/backend/src/risk_manager/ @trading-team @backend-team @security-team

# Language-specific reviewers
*.rs @rust-reviewers
*.py @python-reviewers
*.tsx @typescript-reviewers
*.ts @typescript-reviewers

# Configuration files require security and backend review
/src/backend/src/config/ @security-team @backend-team

# Infrastructure as code requires infrastructure and security review
*.tf @infrastructure-team @security-team

# GitHub configuration owned by DevOps
.github/ @devops-team

# Market analysis owned by data science and ML teams
/src/backend/src/market_analysis/ @data-science-team @ml-team

# Deployment configurations require DevOps and security review
/deployment/ @devops-team @security-team

# API endpoints require backend and security review
/src/backend/src/api/ @backend-team @security-team

# Test suites owned by QA team
/tests/ @qa-team

# Smart contracts require smart contract team and security review
*.sol @smart-contract-team @security-team
