Repository FastyFresh/firebot-8wh4kt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @core-team, @backend-team, @ml-team, @data-science-team, @frontend-team, @devops-team, @security-team, @trading-team, @rust-reviewers, @python-reviewers, @typescript-reviewers, @infrastructure-team, @qa-team, @smart-contract-team

Add public-samples/firebot-8wh4kt/src/backend/src/utils/metrics.rs
  src/backend/src/utils/metrics.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/utils/mod.rs
  src/backend/src/utils/mod.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/utils/solana.rs
  src/backend/src/utils/solana.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/utils/time.rs
  src/backend/src/utils/time.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/tests/api/test_auth.rs
  src/backend/tests/api/test_auth.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/tests/api/test_endpoints.rs
  src/backend/tests/api/test_endpoints.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/tests/api/test_websocket.rs
  src/backend/tests/api/test_websocket.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/tests/execution_engine/test_order_book.rs
  src/backend/tests/execution_engine/test_order_book.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/tests/execution_engine/test_position.rs
  src/backend/tests/execution_engine/test_position.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/tests/execution_engine/test_trade.rs
  src/backend/tests/execution_engine/test_trade.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/tests/integration/test_data_collection.rs
  src/backend/tests/integration/test_data_collection.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/tests/integration/test_strategy.rs
  src/backend/tests/integration/test_strategy.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/tests/integration/test_trading.rs
  src/backend/tests/integration/test_trading.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/tests/risk_manager/test_limits.rs
  src/backend/tests/risk_manager/test_limits.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/tests/risk_manager/test_portfolio.rs
  src/backend/tests/risk_manager/test_portfolio.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/tests/risk_manager/test_validation.rs
  src/backend/tests/risk_manager/test_validation.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/tests/strategy_engine/test_arbitrage.py
  src/backend/tests/strategy_engine/test_arbitrage.py
Owners: @python-reviewers

Add public-samples/firebot-8wh4kt/src/backend/tests/strategy_engine/test_grid.py
  src/backend/tests/strategy_engine/test_grid.py
Owners: @python-reviewers

Add public-samples/firebot-8wh4kt/src/backend/tests/strategy_engine/test_ml.py
  src/backend/tests/strategy_engine/test_ml.py
Owners: @python-reviewers

Add public-samples/firebot-8wh4kt/src/backend/tests/strategy_engine/test_risk.py
  src/backend/tests/strategy_engine/test_risk.py
Owners: @python-reviewers

Add public-samples/firebot-8wh4kt/src/web/.dockerignore
  src/web/.dockerignore
Owners: @frontend-team

Add public-samples/firebot-8wh4kt/src/web/.env.example
  src/web/.env.example
Owners: @frontend-team

Add public-samples/firebot-8wh4kt/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team

Add public-samples/firebot-8wh4kt/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team

Add public-samples/firebot-8wh4kt/src/web/Dockerfile
  src/web/Dockerfile
Owners: @frontend-team

Add public-samples/firebot-8wh4kt/src/web/README.md
  src/web/README.md
Owners: @frontend-team

Add public-samples/firebot-8wh4kt/src/web/index.html
  src/web/index.html
Owners: @frontend-team

Add public-samples/firebot-8wh4kt/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @typescript-reviewers

Add public-samples/firebot-8wh4kt/src/web/package.json
  src/web/package.json
Owners: @frontend-team

Add public-samples/firebot-8wh4kt/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team

Add public-samples/firebot-8wh4kt/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @typescript-reviewers

Add public-samples/firebot-8wh4kt/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @typescript-reviewers

Add public-samples/firebot-8wh4kt/src/web/src/index.tsx
  src/web/src/index.tsx
Owners: @typescript-reviewers

Add public-samples/firebot-8wh4kt/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @typescript-reviewers

Add public-samples/firebot-8wh4kt/src/web/src/api/auth.ts
  src/web/src/api/auth.ts
Owners: @typescript-reviewers

Add public-samples/firebot-8wh4kt/src/web/src/api/market.ts
  src/web/src/api/market.ts
Owners: @typescript-reviewers

Add public-samples/firebot-8wh4kt/src/web/src/api/portfolio.ts
  src/web/src/api/portfolio.ts
Owners: @typescript-reviewers

Add public-samples/firebot-8wh4kt/src/web/src/api/strategy.ts
  src/web/src/api/strategy.ts
Owners: @typescript-reviewers

Add public-samples/firebot-8wh4kt/src/web/src/api/trading.ts
  src/web/src/api/trading.ts
Owners: @typescript-reviewers

Add public-samples/firebot-8wh4kt/src/web/src/api/websocket.ts
  src/web/src/api/websocket.ts
Owners: @typescript-reviewers

.github/CODEOWNERS:

# Unless a later match takes precedence, the core team
# will be requested for review when someone opens a PR
* @core-team

# Backend Rust/Python code ownership
/src/backend/ @backend-team

# Strategy engine requires ML, backend and data science review
/src/backend/src/strategy_engine/ @ml-team @backend-team @data-science-team

# Frontend React/TypeScript code ownership
/src/web/ @frontend-team

# Infrastructure code requires both DevOps and security review
/infrastructure/ @devops-team @security-team

# Execution engine requires backend, trading and security review
/src/backend/src/execution_engine/ @backend-team @trading-team @security-team

# Risk management requires trading, backend and security review
/src/backend/src/risk_manager/ @trading-team @backend-team @security-team

# Language-specific reviewers
*.rs @rust-reviewers
*.py @python-reviewers
*.tsx @typescript-reviewers
*.ts @typescript-reviewers

# Configuration files require security and backend review
/src/backend/src/config/ @security-team @backend-team

# Infrastructure as code requires infrastructure and security review
*.tf @infrastructure-team @security-team

# GitHub configuration owned by DevOps
.github/ @devops-team

# Market analysis owned by data science and ML teams
/src/backend/src/market_analysis/ @data-science-team @ml-team

# Deployment configurations require DevOps and security review
/deployment/ @devops-team @security-team

# API endpoints require backend and security review
/src/backend/src/api/ @backend-team @security-team

# Test suites owned by QA team
/tests/ @qa-team

# Smart contracts require smart contract team and security review
*.sol @smart-contract-team @security-team
