Repository FastyFresh/firebot-8wh4kt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @core-team, @backend-team, @ml-team, @data-science-team, @frontend-team, @devops-team, @security-team, @trading-team, @rust-reviewers, @python-reviewers, @typescript-reviewers, @infrastructure-team, @qa-team, @smart-contract-team

Add public-samples/firebot-8wh4kt/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @infrastructure-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/terraform/monitoring.tf
  infrastructure/terraform/monitoring.tf
Owners: @infrastructure-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @infrastructure-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/terraform/rds.tf
  infrastructure/terraform/rds.tf
Owners: @infrastructure-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/terraform/redis.tf
  infrastructure/terraform/redis.tf
Owners: @infrastructure-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/terraform/route53.tf
  infrastructure/terraform/route53.tf
Owners: @infrastructure-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/terraform/security.tf
  infrastructure/terraform/security.tf
Owners: @infrastructure-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @infrastructure-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/terraform/versions.tf
  infrastructure/terraform/versions.tf
Owners: @infrastructure-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/terraform/vpc.tf
  infrastructure/terraform/vpc.tf
Owners: @infrastructure-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/terraform/waf.tf
  infrastructure/terraform/waf.tf
Owners: @infrastructure-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/terraform/environments/dev/terraform.tfvars
  infrastructure/terraform/environments/dev/terraform.tfvars
Owners: @devops-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/terraform/environments/prod/terraform.tfvars
  infrastructure/terraform/environments/prod/terraform.tfvars
Owners: @devops-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @devops-team, @security-team

Add public-samples/firebot-8wh4kt/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team

Add public-samples/firebot-8wh4kt/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team

Add public-samples/firebot-8wh4kt/src/backend/Cargo.toml
  src/backend/Cargo.toml
Owners: @backend-team

Add public-samples/firebot-8wh4kt/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @backend-team

Add public-samples/firebot-8wh4kt/src/backend/README.md
  src/backend/README.md
Owners: @backend-team

Add public-samples/firebot-8wh4kt/src/backend/pyproject.toml
  src/backend/pyproject.toml
Owners: @backend-team

Add public-samples/firebot-8wh4kt/src/backend/requirements.txt
  src/backend/requirements.txt
Owners: @backend-team

Add public-samples/firebot-8wh4kt/src/backend/rust-toolchain.toml
  src/backend/rust-toolchain.toml
Owners: @backend-team

Add public-samples/firebot-8wh4kt/src/backend/src/lib.rs
  src/backend/src/lib.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/main.rs
  src/backend/src/main.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/api/auth.rs
  src/backend/src/api/auth.rs
Owners: @backend-team, @security-team

Add public-samples/firebot-8wh4kt/src/backend/src/api/endpoints.rs
  src/backend/src/api/endpoints.rs
Owners: @backend-team, @security-team

Add public-samples/firebot-8wh4kt/src/backend/src/api/middleware.rs
  src/backend/src/api/middleware.rs
Owners: @backend-team, @security-team

Add public-samples/firebot-8wh4kt/src/backend/src/api/mod.rs
  src/backend/src/api/mod.rs
Owners: @backend-team, @security-team

Add public-samples/firebot-8wh4kt/src/backend/src/api/routes.rs
  src/backend/src/api/routes.rs
Owners: @backend-team, @security-team

Add public-samples/firebot-8wh4kt/src/backend/src/api/websocket.rs
  src/backend/src/api/websocket.rs
Owners: @backend-team, @security-team

Add public-samples/firebot-8wh4kt/src/backend/src/config/database.rs
  src/backend/src/config/database.rs
Owners: @security-team, @backend-team

Add public-samples/firebot-8wh4kt/src/backend/src/config/environment.rs
  src/backend/src/config/environment.rs
Owners: @security-team, @backend-team

Add public-samples/firebot-8wh4kt/src/backend/src/config/logging.rs
  src/backend/src/config/logging.rs
Owners: @security-team, @backend-team

Add public-samples/firebot-8wh4kt/src/backend/src/config/mod.rs
  src/backend/src/config/mod.rs
Owners: @security-team, @backend-team

Add public-samples/firebot-8wh4kt/src/backend/src/config/security.rs
  src/backend/src/config/security.rs
Owners: @security-team, @backend-team

Add public-samples/firebot-8wh4kt/src/backend/src/data_collector/drift.rs
  src/backend/src/data_collector/drift.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/data_collector/jupiter.rs
  src/backend/src/data_collector/jupiter.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/data_collector/market_data.rs
  src/backend/src/data_collector/market_data.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/data_collector/mod.rs
  src/backend/src/data_collector/mod.rs
Owners: @rust-reviewers

Add public-samples/firebot-8wh4kt/src/backend/src/data_collector/pump_fun.rs
  src/backend/src/data_collector/pump_fun.rs
Owners: @rust-reviewers

.github/CODEOWNERS:

# Unless a later match takes precedence, the core team
# will be requested for review when someone opens a PR
* @core-team

# Backend Rust/Python code ownership
/src/backend/ @backend-team

# Strategy engine requires ML, backend and data science review
/src/backend/src/strategy_engine/ @ml-team @backend-team @data-science-team

# Frontend React/TypeScript code ownership
/src/web/ @frontend-team

# Infrastructure code requires both DevOps and security review
/infrastructure/ @devops-team @security-team

# Execution engine requires backend, trading and security review
/src/backend/src/execution_engine/ @backend-team @trading-team @security-team

# Risk management requires trading, backend and security review
/src/backend/src/risk_manager/ @trading-team @backend-team @security-team

# Language-specific reviewers
*.rs @rust-reviewers
*.py @python-reviewers
*.tsx @typescript-reviewers
*.ts @typescript-reviewers

# Configuration files require security and backend review
/src/backend/src/config/ @security-team @backend-team

# Infrastructure as code requires infrastructure and security review
*.tf @infrastructure-team @security-team

# GitHub configuration owned by DevOps
.github/ @devops-team

# Market analysis owned by data science and ML teams
/src/backend/src/market_analysis/ @data-science-team @ml-team

# Deployment configurations require DevOps and security review
/deployment/ @devops-team @security-team

# API endpoints require backend and security review
/src/backend/src/api/ @backend-team @security-team

# Test suites owned by QA team
/tests/ @qa-team

# Smart contracts require smart contract team and security review
*.sol @smart-contract-team @security-team
