Repository FastyFresh/firebot-8wh4kt, changes with the owners that .github/CODEOWNERS names for each.
All owners: @core-team, @backend-team, @ml-team, @data-science-team, @frontend-team, @devops-team, @security-team, @trading-team, @rust-reviewers, @python-reviewers, @typescript-reviewers, @infrastructure-team, @qa-team, @smart-contract-team

.github/CODEOWNERS:

# Unless a later match takes precedence, the core team
# will be requested for review when someone opens a PR
* @core-team

# Backend Rust/Python code ownership
/src/backend/ @backend-team

# Strategy engine requires ML, backend and data science review
/src/backend/src/strategy_engine/ @ml-team @backend-team @data-science-team

# Frontend React/TypeScript code ownership
/src/web/ @frontend-team

# Infrastructure code requires both DevOps and security review
/infrastructure/ @devops-team @security-team

# Execution engine requires backend, trading and security review
/src/backend/src/execution_engine/ @backend-team @trading-team @security-team

# Risk management requires trading, backend and security review
/src/backend/src/risk_manager/ @trading-team @backend-team @security-team

# Language-specific reviewers
*.rs @rust-reviewers
*.py @python-reviewers
*.tsx @typescript-reviewers
*.ts @typescript-reviewers

# Configuration files require security and backend review
/src/backend/src/config/ @security-team @backend-team

# Infrastructure as code requires infrastructure and security review
*.tf @infrastructure-team @security-team

# GitHub configuration owned by DevOps
.github/ @devops-team

# Market analysis owned by data science and ML teams
/src/backend/src/market_analysis/ @data-science-team @ml-team

# Deployment configurations require DevOps and security review
/deployment/ @devops-team @security-team

# API endpoints require backend and security review
/src/backend/src/api/ @backend-team @security-team

# Test suites owned by QA team
/tests/ @qa-team

# Smart contracts require smart contract team and security review
*.sol @smart-contract-team @security-team

Add public-samples/firebot-8wh4kt/.github/dependabot.yml
  .github/dependabot.yml
Owners: @devops-team

Add public-samples/firebot-8wh4kt/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @devops-team

Add public-samples/firebot-8wh4kt/.github/workflows/backend.yml
  .github/workflows/backend.yml
Owners: @devops-team

Add public-samples/firebot-8wh4kt/.github/workflows/security.yml
  .github/workflows/security.yml
Owners: @devops-team

Add public-samples/firebot-8wh4kt/.github/workflows/web.yml
  .github/workflows/web.yml
Owners: @devops-team

Add public-samples/firebot-8wh4kt/blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @core-team

Add public-samples/firebot-8wh4kt/blitzy/documentation/Product Requirements Document (PRD).md
  blitzy/documentation/Product Requirements Document (PRD).md
Owners: @core-team

Add public-samples/firebot-8wh4kt/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @core-team

Add public-samples/firebot-8wh4kt/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @core-team

Add public-samples/firebot-8wh4kt/infrastructure/docker/elk/elasticsearch/config/elasticsearch.yml
  infrastructure/docker/elk/elasticsearch/config/elasticsearch.yml
Owners: @devops-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/docker/elk/kibana/config/kibana.yml
  infrastructure/docker/elk/kibana/config/kibana.yml
Owners: @devops-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/docker/elk/logstash/config/logstash.yml
  infrastructure/docker/elk/logstash/config/logstash.yml
Owners: @devops-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/docker/elk/logstash/pipeline/logstash.conf
  infrastructure/docker/elk/logstash/pipeline/logstash.conf
Owners: @devops-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/docker/grafana/grafana.ini
  infrastructure/docker/grafana/grafana.ini
Owners: @devops-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/docker/grafana/provisioning/dashboards/system.json
  infrastructure/docker/grafana/provisioning/dashboards/system.json
Owners: @devops-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/docker/grafana/provisioning/dashboards/trading.json
  infrastructure/docker/grafana/provisioning/dashboards/trading.json
Owners: @devops-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/docker/grafana/provisioning/datasources/prometheus.yml
  infrastructure/docker/grafana/provisioning/datasources/prometheus.yml
Owners: @devops-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/docker/prometheus/prometheus.yml
  infrastructure/docker/prometheus/prometheus.yml
Owners: @devops-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/k8s/backend-deployment.yaml
  infrastructure/k8s/backend-deployment.yaml
Owners: @devops-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/k8s/configmaps.yaml
  infrastructure/k8s/configmaps.yaml
Owners: @devops-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/k8s/elk-deployment.yaml
  infrastructure/k8s/elk-deployment.yaml
Owners: @devops-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/k8s/grafana-deployment.yaml
  infrastructure/k8s/grafana-deployment.yaml
Owners: @devops-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/k8s/ingress.yaml
  infrastructure/k8s/ingress.yaml
Owners: @devops-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/k8s/network-policies.yaml
  infrastructure/k8s/network-policies.yaml
Owners: @devops-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/k8s/prometheus-deployment.yaml
  infrastructure/k8s/prometheus-deployment.yaml
Owners: @devops-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/k8s/redis-statefulset.yaml
  infrastructure/k8s/redis-statefulset.yaml
Owners: @devops-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/k8s/secrets.yaml
  infrastructure/k8s/secrets.yaml
Owners: @devops-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/k8s/service-mesh.yaml
  infrastructure/k8s/service-mesh.yaml
Owners: @devops-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/k8s/storage-class.yaml
  infrastructure/k8s/storage-class.yaml
Owners: @devops-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/k8s/web-deployment.yaml
  infrastructure/k8s/web-deployment.yaml
Owners: @devops-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/scripts/backup-db.sh
  infrastructure/scripts/backup-db.sh
Owners: @devops-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
Owners: @devops-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/scripts/init-db.sh
  infrastructure/scripts/init-db.sh
Owners: @devops-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/scripts/monitor-health.sh
  infrastructure/scripts/monitor-health.sh
Owners: @devops-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/scripts/rollback.sh
  infrastructure/scripts/rollback.sh
Owners: @devops-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/scripts/rotate-keys.sh
  infrastructure/scripts/rotate-keys.sh
Owners: @devops-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @infrastructure-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/terraform/cloudfront.tf
  infrastructure/terraform/cloudfront.tf
Owners: @infrastructure-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/terraform/ecs.tf
  infrastructure/terraform/ecs.tf
Owners: @infrastructure-team, @security-team

Add public-samples/firebot-8wh4kt/infrastructure/terraform/kms.tf
  infrastructure/terraform/kms.tf
Owners: @infrastructure-team, @security-team
